<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header')  %> 

  <main class="vw-100">
    <!-- Animes Page -->


  
    <div class="overlay w-100 d-block position-absolute h-100 fit-cover" style=" z-index: -10 ; background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0.21612394957983194) 47%, rgba(33,37,41,1) 100%);"></div>
    <img class="w-100 d-block position-absolute h-100 fit-cover" src="../images/banners/<%= anime.url %>.jpg" alt="background" style="filter: blur(6px); z-index: -100;">

    <div class="row row-cols-sm-1 row-cols-md-2 mx-auto justify-content-center w-75 py-5" style="z-index: 1;" style="background-color: rgba(0,0,0,0.5)!important;">

      <img class="d-inline-block" src="../images/capas/<%= anime.url %>.jpg" alt="<%= anime.nomeJapones %> Capa" style="max-width: 300px; height: 442.5px;">

      <div class="d-inline-block" id="info-basica">
        <h1 class="h2" id="anime-title"><%= anime.nomeJapones %> (<%= anime.lancamento %>)</h1>
        <% if(anime.nomeJapones !== anime.nomeIngles) { %>
          <h2 class="fst-italic h3 text-center" id="alternative-title"><%= anime.nomeIngles %> </h2>
        <% } %>
        <p id="anime-generos"><%= anime.generos.join(', ') %></p>

        <div class="d-none d-lg-block ">
          <%= anime.sinopse %>
        </div>
        <!-- Colapse -->
        <p>
          <a class="text-white text-decoration-none d-lg-none" id="sinopse-collapse" data-bs-toggle="collapse" href="#sinopse" role="button" aria-expanded="false" aria-controls="sinopse">
            Sinopse
          </a>
        </p>
        <div class="collapse"  id="sinopse">
          <div class=""><%= anime.sinopse %></div>
        </div>
      </div>
    </div>
    
  </main>

  <!-- <%- include('./partials/footer') %>  -->
  <%- include('./partials/scripts') %> 
</body>
</html>