<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

<body class="bg-blue2">
  <!-- <%- include('./partials/header')  %>  -->

  <main class="">
    <div class="conteiner">
      <div class="content">
        <h1 class="display-1 text-center">Catálogo</h1>
        
        <% for(anime of animes) { %> 
          <%- include('./partials/animeCard', {anime: anime}) %>     
        <% } %>
      </div>
    </div>    
  </main>

  <!-- <%- include('./partials/footer') %>  -->
  <%- include('./partials/scripts') %> 
</body>
</html>